@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
.table {
    -webkit-box-shadow: 0px 0px 99px -6px rgba(46,74,117,1);
    -moz-box-shadow: 0px 0px 99px -6px rgba(46,74,117,1);
    box-shadow: 0px 0px 99px -6px rgba(46,74,117,1);

    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

