@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.titulo{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.tituloh2{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.bodyPage{
    height: 100vh;
    
}

.scrollContainer {
    overflow-x: auto;
}