@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.titulo{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.tituloL{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}